@charset "utf-8";

/**** 모바일 ****/

html{font-family: 'IBM Plex Sans KR', '맑은 고딕',돋움,-apple-system, sans-serif; font-size: 14px;}
ul{list-style: none; margin:0;padding: 0;}
a{color:inherit; text-decoration: none;}
img{vertical-align: top;}

.container{display: flex; flex-direction: column;}

.container header{
    background-color: #1c1c1c; color: #fff; box-sizing: border-box; order:2; width:100%;height: 100px; position: sticky; top:0; display: flex; z-index: 999;justify-content:space-between ; align-items: center;
}
.container header h1{margin:0 4.854vw;}
.container header h1 a{background: url(common/images/logo2.png) no-repeat 0 0 / contain; display:block; text-indent: -9999px; width: 53px; height: 60px;}

.container header #gnb{display: none;
    position:absolute; top:100%;background-color: rgba(204, 17, 204,0.7); text-transform: capitalize; font-size: 1.5rem; font-family: 'Amatic SC', cursive; width: 100%;
}
.container header #gnb a{display: block; border-bottom:  1px solid #fff; padding: 5px 30px; text-align: right;}
.container header #gnb i{padding-right: 5px;}
.container header #toggle_menu{display: block;
background: url(common/images/more_vert_black_24dp.svg) no-repeat 0 0 / contain; text-indent: -9999px; width: 36px; height: 36px; margin: 0 2.85vw;}

.container header #info, .container header #sns{display: none;}

.container #register {
    background-color: #1c1c1c; color: #fff; order:1;
    border-bottom:1px solid #fff; text-transform: uppercase;
    font-weight: bold;
    display: flex; width: 100%; justify-content: space-around;
    height: 30px; align-items: center;
}

.container main{
    order:3; display: grid;
    grid-template-columns:1fr 1fr ;
    grid-auto-rows: 25vh;
}

.container main .bg{background: no-repeat center / cover;}
.container main .box3{display: none;}
.container main .box4{display:none;background-image: url(common/images/moon.jpg);}
.container main .box5{background-image: url(common/images/flight.jpg);}
.container main .box7{display:none;background-image: url(common/images/kevin-wolf-ItQBfuJGrOk-unsplash.jpg);}
.container main .box9{background-image: url(common/images/vintageview.jpg);}
.container main .box10{display:none;background-image: url(common/images/vintage_retro.jpg);}
.container main .box12{background-image: url(common/images/ocean.jpg);}

.container main section{position: relative; 
    overflow: hidden;}
.container main .txt{line-height: 1.3; padding:3.883vw}
.container main .txt i, .container main .bg h3
{display: none;position: absolute;}

.container main .box1{background: url(common/images/julia-solonina-LACHGS9fKmc-unsplash.jpg) no-repeat center / cover; grid-column: 1/3; grid-row:1/span 2; overflow: hidden;}
.container main .box1 h2{color: #fff; text-transform: capitalize; font-family: 'Lobster', cursive; font-size: 5rem; text-shadow: 2px 2px 5px #f2e127; position: absolute; bottom: 0px; right:10px; margin: 0;}

.container main .box2{grid-column: 1/3;; background-color: #000; color: #fff;padding: 8.252vw; font-size: 1.1rem;}
.container main .txt i{font-size: 8rem; opacity: 0.5;  right: 0; bottom: 5px; color:rgba(255,255,255,0.5);font-size: 9rem;}
.container main .box2 i{display: block;}

.container footer{order:4; background-color: #000; color: #fff; text-align: center; padding: 5px;}


/*** 태블릿 ****/
@media screen and (min-width:768px) {
    .container header #toggle_menu{display: none;}
    .container header #gnb{display: flex; position: static; width: auto; background-color: transparent;}
    .container header #gnb a{border-bottom: none;}

    .container #register{justify-content: flex-start;}
    .container #register li{width: 100px; text-align: center;}
    .container #register li:nth-child(3){margin-left:auto;}

    .container main{
        grid-template-columns:repeat(4,1fr) ;
        grid-auto-rows: 18vh;
    }
    .container main .txt{padding:2vw}
    .container main .txt h3{margin-top:5px;}
    .container main .box1{grid-column: 1/span 3;}
    .container main .box2{grid-column: 4/5; background-color: transparent;color: #000;}
    .container main .box2 i{display: none;}

    .container main .box3{display: block;background-color: #000; color: #fff;}
    .container main .box3 i {
        display: block; font-size: 8rem; line-height: 0; right: 5px; bottom: 0; animation:spin 2.5s infinite ;
    }
    @keyframes spin{
        0%{transfrom:rotate(0);}
        100%{transform: rotate(360deg);}
    }
    .container main .box4{display: block;}
    .container main .box6{grid-column: 3/ span 2;}
    .container main .box7{display: block; grid-column: 1/3;}
    .container main .box10{display: block; grid-column: 1/3;}

}

/****PC****/
@media screen and (min-width:1290px) {
    html{font-size: 16px;}
    body::-webkit-scrollbar{width: 5px;}
    body::-webkit-scrollbar-track{background-color: #fff;}
    body::-webkit-scrollbar-thumb{background-color: #000;}
    .container{flex-direction: row; flex-wrap: wrap;}
    .container header {order:1; width: 15%; position: fixed; height: 100%; flex-direction: column; padding: 20px;}
    .container header h1{width: 100%;}
    .container header h1 a{background-image: url(common/images/logo1.jpg); width: 100%;}
    .container header #gnb{flex-direction: column; 
        margin:auto; margin-top:140px; width: 90%;}
    .container header #gnb a{text-align: left;}
    .container header #gnb a:hover{color: tomato;}
    .container header #info{display: flex; margin:10px;}
    .container header #info li:first-child::after{
        content:"";
        background-color: #fff; display: inline-block; width: 1px; height: 17px; margin:0 10px;
        vertical-align: middle;
    }
    .container header #info li:hover{color: tomato;}
    
    .container header #sns{display: flex; justify-content: space-around; font-size: 2rem;}
    .container header #sns span{display: block;text-indent: -999px;}

    .container #register{order:2; width: 85%; height: 36px; margin-left: 15%; border:none;}
    .container #register a:hover{color: lightpink;}

    .container main{
        width: 85%;
        grid-template-columns: repeat(5,1fr);
        grid-auto-rows: 30vh;
        margin-left: 15%;
    }

    .container main .box2{grid-column: 4/span 2;}
    .container main .box6{grid-column: 2/span 2;}
    .container main .box7{grid-column: 4/span 1;}
    .container main .box9{grid-column: 1/span 2;
    background-position: 50% 70%;}
    .container main .box10{grid-column: 3/span 1;}
    .container main .txt i{display: block; color:rgba(0,0,0,0.2); transition: .3s; right:-200px;}
    .container main .txt:hover i {right:0; bottom:5px;}
    .container main .box3 i{color:rgb(180, 180, 180); right:0; bottom:5px;}
    .container main .box3:hover i{animation-play-state: paused;color:#fff; opacity: 1;}

    .container main .bg h3{display: block; font-size: 3rem; margin: 0; transform: rotate(360deg) scale(6); transition: 0.3s; bottom:-300px; color: transparent;}
    .container main .bg:hover h3{bottom: 0; right: 10px;transform: rotate(0deg) scale(1); color: #fff;}

    .container footer{margin-left: 15%; width: 100%;}
}