
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-bookmark:before { content: '\e802'; } /* '' */
.icon-attention-circled:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-sun:before { content: '\e807'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
